/* font-family: 'Dancing Script', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Sriracha', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:ital,wght@0,800;1,900&family=Sriracha&display=swap');

:root {
    --primary-color: #0A1128;
    --white-color: #FFFFFF;
    --gap: 3rem;
    --ligth-gray-color: #eee;
    --crismon-color: #dc143c;
}

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    background-image: url(../imgs/main-bg.svg);
    line-height: 1.5;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 5.5rem;
}


header {
    position: fixed;
    background-color: var(--white-color);
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0 3rem 0 3rem;
    border-bottom: 0.1rem solid var(--ligth-gray-color);
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    font-size: 2.3rem;
    font-weight: 700;
}

.logo a {
    color: var(--primary-color);
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    position: relative;

}

nav ul li a::after {
    content: '';
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background-color: var(--crismon-color);
    transition: all 300ms ease-in-out;
}

nav ul li a:hover::after {
    width: 50%;
    left: 25%;
}

.menu-spacing{
    height: 6.5rem;
}

.main-content{
    background-image: url(../imgs/main-bg.svg);
    min-height: 100vh;
    padding: 5rem;
    
}
.begin-content{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    color: white;
    align-items: center;

    
}

.begin-content-text, .start-img{
    display: flex;
    flex-flow: center nowrap;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.begin-content-text h2{
    font-size: 6rem;
    margin-bottom: 5rem;
    line-height: 1.2;
}

.begin-content-text p{
    font-size: 2.3rem;
}

.start-img img{
    width: 100%;
    height: auto;
}

.intro{
    background-color: var(--white-color);
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0;
}

.intro-content{
    text-align: center;
    color: var(--primary-color);
    min-height: 100vh;
    padding: 3rem;
    margin: 2rem;
}
.intro-content h1{
    margin: 4rem 0 5rem 0;
}
.intro-content p{
    font-size: 2.3rem;
    line-height: 1.5;
    margin: 0 0 3rem 0;
}

.top-3{
    background-image: url(../imgs/main-bg.svg);
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

.top-3-content{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    padding: 8rem 6rem 0 6rem;
}

.top-3-content p{
    font-size: 2.3rem;
}
.top3-text{
    position: relative;
    padding: 3rem;
    gap: 3rem;
    margin-bottom: 5rem;
}


.top3-text h2{
    margin-bottom: 2.3rem;
    text-transform: uppercase;
}

.items-top3{
    /* display: flex;
    gap: 3rem;
    padding: 3rem; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
    padding: 3rem;
    counter-reset: contador-grid;
}

.items-top3 article{
    width: 100%;
}

.items-top3 h3{
    text-transform: capitalize;
    font-size: 3rem;
    margin-bottom: 1rem;
    position: relative;
    padding: 3rem;
    left: 8rem;
}


.items-top3 article h3::before{
    counter-increment: contador-grid;
    content: counter(contador-grid);
    position: absolute;
    top: -0.9rem;
    left: -6rem;
    font-size: 8rem;
    transform: rotate(7deg);

  
}



.gallery{
    min-height: 100vh;
    background-color: var(--white-color);
    padding: 6rem;
    padding-top: 0;
    overflow: hidden;

}

.grid-gallery-content p{
    margin-bottom: 3rem;
    max-width: 36rem;
    max-height: 36rem;

}

.grid-gallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 3rem;
    

}

.grid-gallery div{
    overflow: hidden;
}

.grid-gallery div img{
    transition: all 300ms ease-in-out;
    z-index: 1;
}
.grid-gallery div img:hover{
    transform: translate(-3%,3%) scale(1.2) rotate(5deg);
    z-index: 2;
}


.recent-jobs{
    background-image: url(../imgs/main-bg.svg);
    height: 100vh;
}

.pricing{
    background-color: var(--white-color);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center ;
}

.pricing-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 80vw;
    max-width: 80vw;
}

.pricing-content p{
    font-size: 2.3rem;
    display: block;
    text-align: center;
    max-width: 60%;
}

.pricing-content h2{
    text-transform: uppercase;
    font-size: 6rem;
    text-align: center;
    margin-bottom: 2.3rem;
}
.table{
    width: 100%;
    display: flex;
    justify-content: center;
}
.pricing-table {
    margin-top: 5rem;
    border-collapse: collapse;
    width: 60%;
    height: 100%;
    font-size: 2.3rem;
}
.pricing-table td, .pricing-table th{
        border: 1px solid var(--ligth-gray-color);
        text-align: left;
        
    

}

.pricing-table thead{
    background-color: var(--ligth-gray-color);
    font-weight: bolder;
}

.pricing-table tfoot{
    background-color: var(--ligth-gray-color);
}

.responsive-table{
    overflow: hidden;
    overflow-x: auto;
}

table{
    min-width: 36rem;
}

.contact-form{
    position: relative;
    top: -7rem;
    padding: 5rem;
}
.contact-form .form-grid{
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}
.form-grid legend{
    margin-bottom: 3rem;
    font-style: italic;
    font-size: 1.6rem;
    color: var(--white-color);
}

.form-group{
    flex: 1 1 320px;
}

.form-group label{
        display: block;
        margin-bottom: 1rem;
        color: var(--white-color);
}

.form-group input, .form-group textarea{
    border: none;
    background-color: var(--white-color);
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 2.3rem;
    outline: none;

}

.form-group input:focus, .form-group textarea:focus{
    box-shadow: 0px 0px 11px 2px var(--crismon-color);
}

.full-width{
    width: 100%;
    flex: 1 1 100%

}

.form-button button{
    border: 0.5rem solid var(--white-color);
     background: none;
     color: var(--white-color);
     padding: 1.5rem 2rem;
     font-size: 3rem;
     cursor: pointer;
     transition: all 300ms ease-in-out;
}

.form-button button:hover{
    background: var(--white-color);
    color: var(--primary-color);
}


.form-group ::placeholder{
    color: rgb(172, 168, 168);
}


.footer{
    background: var(--white-color);
    color: var(--primary-color);
    padding: 3rem;
    text-align: center;
}




