/* font-family: 'Dancing Script', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Sriracha', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:ital,wght@0,800;1,900&family=Sriracha&display=swap');



:root {
    --primary-color: #0A1128;
    --white-color: #FFFFFF;
    --gap: 3rem;
    --ligth-gray-color: #eee;
    --crismon-color: #dc143c;
}

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 5.5rem;
}


header {
    position: fixed;
    background-color: var(--white-color);
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0 3rem 0 3rem;
    border-bottom: 0.1rem solid var(--ligth-gray-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    font-size: 2.3rem;
    font-weight: 700;
}

.logo a {
    color: var(--primary-color);
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    position: relative;

}

nav ul li a::after {
    content: '';
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background-color: var(--crismon-color);
    transition: all 300ms ease-in-out;
}

nav ul li a:hover::after {
    width: 50%;
    left: 25%;
}


.main-content {
    background-image: url(../imgs/main-bg.svg);
    background-size: cover;
    height: 100vh;
    color: var(--white-color);
    padding-bottom: 2rem;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 15rem;
    /* display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'main main'; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 3rem;
}

.main-1 {
    width: 40vw;
}

.main-1 h2 {
    font-weight: 800;
    margin-bottom: 3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-1 p {
    display: block;
    font-size: 2rem;
    width: 40rem;
    line-height: 1.5;

}

.image {
    width: 80vw;
    height: 50vh;
    background-image: url(../imgs/intro-image.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.top-3{
    background-color: var(--white-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-3-content{
    text-align: center;
    color: var(--primary-color);
    min-height: 100vh;
    max-width: 75rem;
    margin: 2rem;
}
.top-3-content h1{
    margin: 4rem 0 5rem 0;
}
.top-3-content p{
    font-size: 2.3rem;
    line-height: 1.5;
    margin: 0 0 3rem 0;
}
